# Empêche l'exécution de scripts PHP dans certains dossiers sensibles
<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|bak|inc|phps|fla|psd|sql|swp|git|env|views|public|controllers|config)$">
    Require all denied
</FilesMatch>

# Bloque l'accès aux fichiers cachés (ex : .env, .git, etc.)
RedirectMatch 403 /\..*$

# Protection contre le clickjacking
Header always append X-Frame-Options "SAMEORIGIN"

# Empêche le chargement de ton site dans un iframe sur un autre domaine
Header always set X-Frame-Options "DENY"

# Empêche l’exécution de scripts malveillants via MIME sniffing
Header set X-Content-Type-Options "nosniff"

# Active les protections XSS (Cross-Site Scripting)
Header set X-XSS-Protection "1; mode=block"

# Politique CSP sécurisée
<IfModule mod_headers.c>
Header set Content-Security-Policy "default-src 'self'; script-src 'self'; object-src 'none'; base-uri 'self'; frame-ancestors 'none';"
</IfModule>

<IfModule mod_headers.c>
  Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>

# HSTS
Strict-Transport-Security: max-age=31536000; includeSubDomains; preload

# Active le moteur de réécriture
RewriteEngine On

# Réécriture pour index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# Cache statique (CSS, JS, images)
<FilesMatch "\.(html|css|js|png|jpg|jpeg|gif|svg)$">
    Header set Cache-Control "max-age=2629800, public"
</FilesMatch>


# Bloque les requêtes avec certains caractères dangereux
SetEnvIf Request_URI "(\.php\?|\.\.\/|\~|\'|\<|\>|\<script|eval\()" bad_request
Deny from env=bad_request
